{#
 This file is part of EC-CUBE

 Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.
 http://www.lockon.co.jp/

 For the full copyright and license information, please view the LICENSE
 file that was distributed with this source code.
#}

{#
[メルマガ管理]-[配信内容設定]-[確認]画面
#}

{% extends 'default_frame.twig' %}

{% set menus = ['mailmagazine', 'mailmagazine'] %}

{% block title %}メルマガ管理{% endblock %}
{% block sub_title %}配信内容管理{% endblock %}

{% form_theme form 'Form/bootstrap_3_horizontal_layout.html.twig' %}

{% block javascript %}
    <script>
        function changeAction(action) {
            document.form1.action = action;
            document.form1.submit();
        }

    </script>
{% endblock javascript%}

{% block main %}

    <div class="row" id="aside_wrap">
        <form name="form1" role="form" class="form-horizontal" id="form1" method="post" action="">
            {{ form_widget(form._token) }}

            <div class="col-md-9">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">メールテンプレート編集確認</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <th style="width: 20%;">Subject</th>
                                    <td>{{ subject_itm }}</td>
                                </tr>
                                <tr>
                                    <th>本文</th>
                                    <td><xmp>{{ body_itm }}</xmp></td>
                                </td>
                            </tbody>
                        </table>
                        <div style="display: none">
                            {{ form_rest(form) }}
                        </div>

                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div>

            {# 配信するボタン #}
            <div class="col-md-3" id="aside_column">
                <div class="col_inner">
                    <div class="box no-header">
                        <div class="box-body">
                            <div class="row text-center">
                                <div class="col-sm-6 col-sm-offset-3 col-md-12 col-md-offset-0">
                                    <button class="btn btn-primary btn-block btn-lg" onclick="changeAction('{{ url('admin_mail_magazine_commit') }}'); return false;">配信する</button>
                                </div>
                            </div>
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </div>
            </div><!-- /.col -->

            {# テンプレート設定画面へ戻るボタン #}
            <div class="col-md-3" id="aside_column">
                <div class="col_inner">
                    <div class="box no-header">
                        <div class="box-body">
                            <div class="row text-center">
                                <div class="col-sm-6 col-sm-offset-3 col-md-12 col-md-offset-0">
                                    <button class="btn btn-primary btn-block btn-lg" onclick="changeAction('{{ url('admin_mail_magazine_select') }}/{{id}}'); return false;">テンプレート設定画面へ戻る</button>
                                </div>
                            </div>
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </div>
            </div><!-- /.col -->
        </form>
    </div>


{% endblock %}
