{#
 This file is part of EC-CUBE

 Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.
 http://www.lockon.co.jp/

 For the full copyright and license information, please view the LICENSE
 file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set menus = ['mailmagazine', 'mailmagazine_history'] %}

{% block title %}メルマガ管理{% endblock %}
{% block sub_title %}配信履歴管理{% endblock %}

{% block javascript %}
    <script src="{{ app.config.admin_urlpath }}/assets/js/vendor/jquery.ui/jquery.ui.core.min.js"></script>
    <script src="{{ app.config.admin_urlpath }}/assets/js/vendor/jquery.ui/jquery.ui.widget.min.js"></script>
    <script src="{{ app.config.admin_urlpath }}/assets/js/vendor/jquery.ui/jquery.ui.mouse.min.js"></script>
    <script src="{{ app.config.admin_urlpath }}/assets/js/vendor/jquery.ui/jquery.ui.sortable.min.js"></script>

<script>
function fnDelete(action) {
    if (confirm('この履歴を削除しても宜しいですか？')) {
        document.form1.action = action;
        document.form1.submit();
    }
}
function changeAction(action) {
    document.form1.action = action;
    document.form1.submit();
}
</script>
{% endblock %}

{% block main %}
<form name="form1" id="form1" method="post" action="">

{% if pagination %}
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                {% if pagination and pagination.totalItemCount > 0 %}
                    <div class="box-header with-arrow">
                        <h3 class="box-title">総件数 <span class="normal"><strong>{{ pagination.totalItemCount }} 件</strong> </span></h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        {% include "pager.twig" with { 'pages' : pagination.paginationData, 'routes' : 'admin_mail_magazine_history' } %}
                        <div class="table_list">
                            <div class="table-responsive with-border">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>配信開始時刻</th>
                                            <th>配信終了時刻</th>
                                            <th>Subject</th>
                                            <th>プレビュー</th>
                                            <th>配信条件</th>
                                            <th>配信総数</th>
                                            <th>配信済数</th>
                                            <th>配信失敗数</th>
                                            <th>未配信数</th>
                                            <th>再試行数</th>
                                            <th>削除</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for SendHistory in pagination %}
                                        <tr>
                                            <td class="">{{ SendHistory.start_date|date("Y/m/d H:i") }}</td>
                                            <td class="">
                                                {% if SendHistory.end_date is not null %}
                                                    {{ SendHistory.end_date|date("Y/m/d H:i") }}
                                                {% endif %}
                                            </td>
                                            <td class="">{{ SendHistory.subject}}</td>
                                            <td class=""><a href="?" onclick="changeAction('{{ url('admin_mail_magazine_history_preview', { id: SendHistory.id }) }}'); return false;">確認</a></td>
                                            <td class=""><a href="?" onclick="changeAction('{{ url('admin_mail_magazine_history_condition', { id: SendHistory.id }) }}'); return false;">確認</a></td>
                                            <td class="">{{ SendHistory.send_count }}</td>
                                            <td class="">{{ SendHistory.complete_count }}</td>
                                            <td class=""></td>
                                            <td class="">{{ SendHistory.send_count - SendHistory.complete_count }}</td>
                                            <td class=""></td>
                                            <td class=""><a href="?" onclick="fnDelete('{{ url('admin_mail_magazine_history_delete', { id: SendHistory.id }) }}'); return false;">削除</a></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        </div><!-- /.box-body -->
                {% else %}
                    {# データがない場合 #}
                    <div class="box-header with-arrow">
                        <h3 class="box-title">該当するデータがありませんでした。</h3>
                    </div><!-- /.box-header -->
                {% endif %}
            </div><!-- /.box -->
        </div><!-- /.col -->
    </div>

{% else %}
    <div class="box-header with-arrow">
        <h3 class="box-title">検索条件に該当するデータがありませんでした。</h3>
    </div><!-- /.box-header -->
{% endif %}
</form>

{% endblock %}
