{#
 This file is part of EC-CUBE

 Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.
 http://www.lockon.co.jp/

 For the full copyright and license information, please view the LICENSE
 file that was distributed with this source code.
#}

{#
[メルマガ管理]-[配信内容設定]-[テンプレート選択]画面
#}

{% extends 'default_frame.twig' %}

{% set menus = ['mailmagazine', 'mailmagazine'] %}

{% block title %}メルマガ管理{% endblock %}
{% block sub_title %}配信内容管理{% endblock %}

{% form_theme form 'Form/bootstrap_3_horizontal_layout.html.twig' %}

{% block javascript %}
    <script>
        $(function(){
            $("#mail_magazine_template").on("change", function(){
                var id = $(this).val()
                if (id) {
                    action= '{{ url('admin_mail_magazine_select') }}/' + id;
                } else {
                    action= '{{ url('admin_mail_magazine_select') }}';
                }
                document.form1.action = action;
                document.form1.submit();
            });
        });

        function changeAction(action) {
            document.form1.action = action;
            document.form1.submit();
        }

    </script>
{% endblock javascript%}

{% block main %}

    <div class="row" id="aside_wrap">
        <form name="form1" role="form" class="form-horizontal" id="form1" method="post" action="">
            {{ form_widget(form._token) }}

            <div class="col-md-9">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">メールテンプレート編集</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">

                        {{ form_row(form.template) }}
                        {{ form_row(form.subject, {'value' : new_subject}) }}
                        {{ form_row(form.body, {'value' : new_body}) }}

                        <div style="display: none">
                            {{ form_rest(form) }}
                        </div>

                    </div><!-- /.box-body -->
                </div><!-- /.box -->

            </div>

            {# 登録ボタン #}
            <div class="col-md-3" id="aside_column">
                <div class="col_inner">
                    <div class="box no-header">
                        <div class="box-body">
                            <div class="row text-center">
                                <div class="col-sm-6 col-sm-offset-3 col-md-12 col-md-offset-0">
                                    <button class="btn btn-primary btn-block btn-lg" onclick="changeAction('{{ url('admin_mail_magazine_confirm') }}/' + document.form1.mail_magazine_template.value); return false;">登録</button>
                                </div>
                            </div>

                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </div>
            </div><!-- /.col -->

            {# 検索画面に戻るボタン #}
            <div class="col-md-3" id="aside_column">
                <div class="col_inner">
                    <div class="box no-header">
                        <div class="box-body">
                            <div class="row text-center">
                                <div class="col-sm-6 col-sm-offset-3 col-md-12 col-md-offset-0">
                                    <button class="btn btn-primary btn-block btn-lg" onclick="changeAction('{{ url('admin_mail_magazine') }}'); return false;">検索画面に戻る</button>
                                </div>
                            </div>
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </div>
            </div><!-- /.col -->


        </form>
    </div>


{% endblock %}
