{#
 This file is part of EC-CUBE

 Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.
 http://www.lockon.co.jp/

 For the full copyright and license information, please view the LICENSE
 file that was distributed with this source code.
#}
{% extends '@admin/styleguide_frame.twig' %}

{% set menus = ['customer', 'mailmagazine', 'mailmagazine_history'] %}

{% block title %}{{ 'plugin.mailmagazine.history.title'|trans }}{% endblock %}
{% block sub_title %}{{ 'plugin.mailmagazine.title'|trans }}{% endblock %}

{% block main %}
    <div class="c-contentsArea__cols">
        <div class="c-contentsArea__primaryCol">
            <div class="c-primaryCol">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <th style="width: 20%;">会員ID・メールアドレス・お名前</th>
                            <td>
                                {% if search_data.multi is null %}
                                    (未指定)
                                {% else %}
                                    {{ search_data.multi }}
                                {% endif %}

                            </td>
                        </tr>
                        <tr>
                            <th style="width: 20%;">会員種別</th>
                            <td>
                                {% if search_data.customer_status is null %}
                                    (未指定)
                                {% else %}
                                    {{ search_data.customer_status }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th style="width: 20%;">性別</th>
                            <td>
                                {% if search_data.sex is null %}
                                    (未指定)
                                {% else %}
                                    {{ search_data.sex }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th style="width: 20%;">誕生月</th>
                            <td>
                                {% if search_data.birth_month is null %}
                                    (未指定)
                                {% else %}
                                    {{ search_data.birth_month }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th style="width: 20%;">誕生日</th>
                            <td>
                                {% if search_data.birth_start is null %}
                                    (未指定)
                                {% else %}
                                    {{ search_data.birth_start|date("Y/m/d") }}
                                {% endif %}
                                ～
                                {% if search_data.birth_end is null %}
                                    (未指定)
                                {% else %}
                                    {{ search_data.birth_end|date("Y/m/d") }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th style="width: 20%;">都道府県</th>
                            <td>
                                {% if search_data.pref is null %}
                                    (未指定)
                                {% else %}
                                    {{ search_data.pref }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th style="width: 20%;">電話番号</th>
                            <td>
                                {% if search_data.tel is null %}
                                    (未指定)
                                {% else %}
                                    {{ search_data.tel }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th style="width: 20%;">登録日</th>
                            <td>
                                {% if search_data.create_date_start is null %}
                                    (未指定)
                                {% else %}
                                    {{ search_data.create_date_start|date("Y/m/d") }}
                                {% endif %}
                                ～
                                {% if search_data.create_date_end is null %}
                                    (未指定)
                                {% else %}
                                    {{ search_data.create_date_end|date("Y/m/d") }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th style="width: 20%;">更新日</th>
                            <td>
                                {% if search_data.update_date_start is null %}
                                    (未指定)
                                {% else %}
                                    {{ search_data.update_date_start|date("Y/m/d") }}
                                {% endif %}
                                ～
                                {% if search_data.update_date_end is null %}
                                    (未指定)
                                {% else %}
                                    {{ search_data.update_date_end|date("Y/m/d") }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th style="width: 20%;">購入金額</th>
                            <td>
                                {% if search_data.buy_total_start is null %}
                                    (未指定)
                                {% else %}
                                    {{ search_data.buy_total_start }}
                                {% endif %}
                                ～
                                {% if search_data.buy_total_end is null %}
                                    (未指定)
                                {% else %}
                                    {{ search_data.buy_total_end }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th style="width: 20%;">購入回数</th>
                            <td>
                                {% if search_data.buy_times_start is null %}
                                    (未指定)
                                {% else %}
                                    {{ search_data.buy_times_start }}
                                {% endif %}
                                ～
                                {% if search_data.buy_times_end is null %}
                                    (未指定)
                                {% else %}
                                    {{ search_data.buy_times_end }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th style="width: 20%;">購入商品名・コード</th>
                            <td>
                                {% if search_data.buy_product_code is null %}
                                    (未指定)
                                {% else %}
                                    {{ search_data.buy_product_code }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th style="width: 20%;">最終購入日</th>
                            <td>
                                {% if search_data.last_buy_start is null %}
                                    (未指定)
                                {% else %}
                                    {{ search_data.last_buy_start|date("Y/m/d") }}
                                {% endif %}
                                ～
                                {% if search_data.last_buy_end is null %}
                                    (未指定)
                                {% else %}
                                    {{ search_data.last_buy_end|date("Y/m/d") }}
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="c-conversionArea">
        <div class="c-conversionArea__container">
            <div class="row justify-content-between align-items-center">
                <div class="col-6">
                    <div class="c-conversionArea__leftBlockItem">
                        <a class="c-beseLink" href="{{ url('plugin_mail_magazine_history') }}">
                            <i class="fa fa-backward" aria-hidden="true"></i><span>{{ 'plugin.mailmagazine.history.preview.btn_back'|trans }}</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
